/*css  fo the nav bar start*/
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: Candara;
}

nav{
	background: #2c3e50;
	height: 80px;
	width: 100%;
}

label.intro{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0px 100px;
	font-weight: bold;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 10px 30px;
}

a.active,a:hover{
	background:#1b9bff;
	transition: .5s;
}

.checkbtn{
	float: right;
	line-height: 80px;
	margin-right: 40px;
	font-size: 30px;
	display: none;
	cursor: pointer;
}

#check{
	display: none;
}

/*css  fo the nav bar end*/

/*nav bar responsiveness css start*/
@media(max-width: 952px){
	nav ul li a{
		font-size: 16px
	}

	label.intro{
		font-size: 30px;
		padding-left: 50px;
	}
}

@media(max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background:#1abc9c;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s; 
	}

	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 20px;
	}

	a:hover, a.active{
		background: none;
		color: #0082e6;
	}

	#check:checked ~ul{
		left: 0;
	}

	/*nav bar responsiveness css end*/
}



